.filterHeader {
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.filterHeader::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  bottom: 0;
  z-index: -1;
  background-color: var(--footer-item);
}
.filterHeader li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}
.choosen {
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
  font-weight: bold;
}
.product-container {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.product-container img {
  height: 200px;
}
.product-container a {
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 1px black;
  cursor: pointer;
}
.product-container a:hover .desc {
  text-decoration: underline;
}
.product-container .desc {
  margin: 20px 0;
  font-size: 1.22em;
  color: black;
}
.product-container .price {
  font-weight: bold;
  color: var(--price);
  font-size: 1.22em;
}

@media screen and (max-width: 960px) {
  .product-container {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }
  .product-container a {
    margin: 40px 0;
  }
  .product-container .desc {
    font-size: 16px;
  }
  .product-container .price {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .choosen {
    border: none;
  }
}
